<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" #sidenav opened="false"  >
        <div class="form-container">
            <app-dynamic-form-field [fControl]="getFormControl('workflowName')"  ></app-dynamic-form-field>
        </div>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Data</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content" >
                    <mat-form-field appearance="fill"  >
                        <mat-label>Choose data</mat-label>
                        <mat-select [formGroup]="fGroup" [formControl]="getFormControl('dataBlock')"   >
                            <mat-option *ngFor="let dataType of getDataTypes()" [value]="dataType?.className" >
                                {{dataType.className}}
                                <mat-chip-row *ngIf="isInput(dataType)" color="primary">Input</mat-chip-row>
                                <mat-chip-row *ngIf="!isInput(dataType)" color="accent">Output</mat-chip-row>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="addDataBlock()">Add block</button>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Actions</mat-panel-title>
                </mat-expansion-panel-header>
                <p>Your actions here</p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-icon-button color="primary" class="menu-button" (click)="toggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="flow-wrapper">
            <f-flow fDraggable #flow (fCreateNode)="onCreateNode($event)" (fSelectionChange)="onSelectionChange($event)">
                <f-canvas fZoom>
<!--                    <f-connection fType="bezier" fOutputId="output1" fInputId="input1">-->
<!--                        <svg viewBox="0 0 10 10" fMarker [type]="eMarkerType.START" [height]="10" [width]="10" [refX]="5" [refY]="5">-->
<!--                            <circle cx="5" cy="5" r="2" stroke="none" fill="var(&#45;&#45;connection-gradient-1)"></circle>-->
<!--                        </svg>-->
<!--                        <svg viewBox="0 0 700 700" fMarker [type]="eMarkerType.END" [height]="5" [width]="5" [refX]="4" [refY]="2.5">-->
<!--                            <path fill="var(&#45;&#45;connection-gradient-2)" d="M0,0L700,350L0,700L150,350z"/>-->
<!--                        </svg>-->
<!--                    </f-connection>-->
                    @for (block of blocks; track block.key) {
                        <div  fNode fDragHandle  [fNodePosition]="block.position"  >{{getClassName(block)}}</div>
                    }
<!--                    <div fNode fDragHandle   [fNodePosition]="{ x: 0, y: 0 }" fNodeOutput fOutputId="output1" fOutputConnectableSide="right">Drag me</div>-->
<!--                    <div fNode fDragHandle [fNodePosition]="{ x: 244, y: 24 }" fNodeInput fInputId="input1" fInputConnectableSide="left">Drag me </div>-->
                </f-canvas>
            </f-flow>
            <div class="cta-buttons">
                <div class="top-row">
                    <button mat-raised-button color="primary" (click)="backToRuleSettings()">
                        Back
                    </button>
                    <button mat-raised-button color="accent" (click)="save()">
                        Save
                    </button>
                </div>
                <div class="second-row">
                    <button mat-icon-button color="primary" (click)="zoomIn()">
                        <mat-icon>zoom_in_outline</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="zoomOut()">
                        <mat-icon>zoom_out</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="reset()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
