@use "../../app.component" as app;



f-flow {
  border:  1px solid black;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Shadow effect */
  @include app.connection;  height: 80%;
  width: 95%;
  display: block;
  @include app.connection;
}



.f-node {
  @include app.node;
}

:host {
  @include app.connection;
  --connection-gradient-2: var(--connection-gradient-2);
}

.panel-content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  mat-form-field {
    width: 100%;
  }

  button {
    align-self: flex-end;
  }
}
