<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" #sidenav opened="false"  >
        <div class="form-container">
            <app-dynamic-form-field [fControl]="getFormControl('workflowName')"  ></app-dynamic-form-field>
        </div>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Data</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content" >
                    <mat-form-field appearance="fill"  >
                        <mat-label>Choose data</mat-label>
                        <mat-select [formGroup]="fGroup" [formControl]="getFormControl('dataBlock')"   >
                            <mat-option *ngFor="let condition of dataDropDownOptions" [value]="condition.class" >
                                {{condition.idCondition}} : {{condition.class}}
                                <mat-chip-row *ngIf="isInputCondition(condition.class)" color="primary">Input</mat-chip-row>
                                <mat-chip-row *ngIf="!isInputCondition(condition.class)" color="accent">Output</mat-chip-row>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="addBlock()">Add block</button>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Actions</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content" >
                    <mat-form-field appearance="fill"  >
                        <mat-label>Choose data</mat-label>
                        <mat-select [formGroup]="fGroup" [formControl]="getFormControl('actionBlock')"   >
                            <mat-option *ngFor="let action of actionsDropDownOptions" [value]="action.actionName" >
                                {{action.actionName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="addBlock(true)">Add block</button>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-icon-button color="primary" class="menu-button" (click)="toggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="flow-wrapper">
            <app-action-config-canvas [blocks]="blocks"></app-action-config-canvas>
<!--            <f-flow fDraggable  (fLoaded)="onLoadedFFLow($event)" >-->
<!--                <f-background>-->
<!--                    <f-rect-pattern></f-rect-pattern>-->
<!--                </f-background>-->
<!--                <f-canvas fDragHandle  (fCanvasChange)="onCanvasChange($event)" >-->
<!--                    <div fNode fDragHandle fOutputId="test2" fNodeOutput [fNodePosition]="{x: 100, y: 200}"  class="f-node">-->
<!--                        this is a test-->
<!--                    </div>-->
<!--                    <div fNode fDragHandle fInputId="test1" fNodeInput [fNodePosition]="{x: 150, y: 400}"  class="f-node">-->
<!--                        this is a test-->
<!--                    </div>-->
<!--                    <f-connection fText="test"  fType="bezier" fOutputId="test2" fInputId="test1"></f-connection>-->

<!--                    @for (block of blocks; track block.key) {-->
<!--                        <div  fNode-->
<!--                              class="f-node"-->
<!--                              [fNodeId]="block.key"-->
<!--                              [fNodePosition]="block.position"-->
<!--                        >-->
<!--                            <ng-container *ngIf="block.type === BlockType.ACTION ">-->
<!--                                <div  class="block-header">-->
<!--                                    <div  class="block-title">{{block.name}}</div>-->
<!--                                </div>-->
<!--                                <table *ngIf="isActionBlockShown(block)" mat-table [dataSource]="getActionBlockDataSource(block)!" class="mat-elevation-z8">-->
<!--                                    <ng-container matColumnDef="paramName">-->
<!--                                        <th mat-header-cell *matHeaderCellDef> Param Name </th>-->
<!--                                        <td mat-cell *matCellDef="let param" >-->
<!--                                                <mat-label>{{ param.paramName }}</mat-label>-->
<!--                                        </td>-->
<!--                                    </ng-container>-->

<!--                                    <ng-container matColumnDef="paramDirection">-->
<!--                                        <th mat-header-cell *matHeaderCellDef> Direction </th>-->
<!--                                        <td mat-cell *matCellDef="let param" >-->
<!--                                                    <mat-chip-row *ngIf="isInputParam(param)" color="primary">Input</mat-chip-row>-->
<!--                                                    <mat-chip-row *ngIf="!isInputParam(param)" color="accent">Output</mat-chip-row>-->
<!--                                        </td>-->
<!--                                    </ng-container>-->

<!--                                    <ng-container matColumnDef="paramType">-->
<!--                                        <th mat-header-cell *matHeaderCellDef> Param Type </th>-->
<!--                                        <td mat-cell *matCellDef="let param"> {{ param.paramType }} </td>-->
<!--                                    </ng-container>-->

<!--                                    <tr mat-header-row *matHeaderRowDef="[ 'paramDirection','paramName', 'paramType']"></tr>-->
<!--                                    <tr mat-row *matRowDef="let row; columns: ['paramDirection','paramName', 'paramType',];"></tr>-->
<!--                                </table>-->
<!--                            </ng-container>-->
<!--                            <ng-container *ngIf="block.type === BlockType.OUTPUT_DATA || block.type === BlockType.INPUT_DATA ">-->
<!--                                <div  class="block-header">-->
<!--                                    <div  class="block-title">{{getClassName(block)}}</div>-->
<!--                                    <mat-slide-toggle  [checked]="getShowFields(block)" (change)="setShowFields(block, $event)"  ></mat-slide-toggle>-->
<!--                                </div>-->
<!--                                <table *ngIf="isDataBlockShown(block)" mat-table [dataSource]="getDataBlockDataSource(block)!" class="mat-elevation-z8">-->
<!--                                    <ng-container matColumnDef="fieldName">-->
<!--                                        <th mat-header-cell *matHeaderCellDef> Field Name </th>-->
<!--                                        <td mat-cell *matCellDef="let field"> {{ field.fieldName }} </td>-->
<!--                                    </ng-container>-->

<!--                                    <ng-container matColumnDef="fieldType">-->
<!--                                        <th mat-header-cell *matHeaderCellDef> Field Type </th>-->
<!--                                        <td mat-cell *matCellDef="let field"> {{ field.fieldType }} </td>-->
<!--                                    </ng-container>-->

<!--                                    <tr mat-header-row *matHeaderRowDef="['fieldName', 'fieldType']"></tr>-->
<!--                                    <tr mat-row *matRowDef="let row; columns: ['fieldName', 'fieldType'];"></tr>-->
<!--                                </table>-->
<!--                            </ng-container>-->
<!--                           </div>-->
<!--                    }-->
<!--                </f-canvas>-->
<!--            </f-flow>-->
            <div class="cta-buttons">
                <div class="top-row">
                    <button mat-raised-button color="primary" (click)="backToRuleSettings()">
                        Back
                    </button>
                    <button mat-raised-button color="accent" (click)="save()">
                        Save
                    </button>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
