<div class="condition-container">
    <div *ngFor="let condition of conditions; let i = index" class="condition-row">
        <mat-form-field>
            <mat-label>Class</mat-label>
            <mat-select [(ngModel)]="condition.class" (ngModelChange)="conditionsChange.emit(conditions)">
                <mat-option *ngFor="let cls of availableClasses" [value]="cls.title">
                    {{ cls.title }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="condition.class">
            <mat-label>Field</mat-label>
            <mat-select [(ngModel)]="condition.field" (ngModelChange)="conditionsChange.emit(conditions)">
                <mat-option *ngFor="let field of getClassFields(condition.class) ; trackBy: trackByField"
                            [value]="field.identifier">
                    {{ field.identifier }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="condition.field">
            <mat-label>Operator</mat-label>
            <mat-select [(ngModel)]="condition.operator" (ngModelChange)="conditionsChange.emit(conditions)">
                <mat-option *ngFor="let op of operators" [value]="op">
                    {{ op }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="condition.operator">
            <input matInput [(ngModel)]="condition.value"
                   (ngModelChange)="conditionsChange.emit(conditions)"
                   placeholder="Value">
        </mat-form-field>

        <button mat-icon-button color="warn" (click)="removeCondition(i)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>

    <button mat-stroked-button (click)="addCondition()">
        <mat-icon>add</mat-icon> Add Condition
    </button>
</div>
