<f-flow #flowComponent fDraggable  (fCreateConnection)="addConnection($event)" (fSelectionChange)="onSelectionchange($event)">
    <f-selection-area></f-selection-area>
    <f-canvas #flowCanvas fZoom>
        <f-connection-for-create></f-connection-for-create>
        @for (connection of connections; track connection.id) {
            <f-connection [fReassignDisabled]="true" [fOutputId]="connection.to" [fInputId]="connection.from" fType="bezier" fBehavior="floating" >

            </f-connection>
        }
        @for (block of this.blocksSharingService.getBlocks() | async; track block.key) {
            <div  fNode fDragHandle [fNodePosition]="block.position" [fNodeId]="block.key" >
                @switch (block.type){
                    @case(BlockType.ACTION){
                        <mat-label>  {{ block.name }}</mat-label>
                        <table *ngIf="isActionBlockShown(block)" mat-table [dataSource]="getActionBlockDataSource(block)!" class="mat-elevation-z8">
                            <ng-container matColumnDef="paramName">
                                <th mat-header-cell *matHeaderCellDef>Name</th>
                                <td mat-cell *matCellDef="let param" >
                                    <mat-label>{{ param.paramName }}</mat-label>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="paramDirection">
                                <th mat-header-cell *matHeaderCellDef> Direction </th>
                                <td mat-cell *matCellDef="let param" >
                                    <ng-container *ngIf="isInputParam(param)">
                                        <div class="action_connectors_layout">
                                            <div fNodeInput class="action_connectors_input" [fInputId]="getParamConnectorId(block,param,ConnectorDir.INPUT)"  ></div>
                                            <mat-chip-row  color="primary">INPUT</mat-chip-row>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="!isInputParam(param)">
                                        <div class="action_connectors_layout">
                                            <mat-chip-row  color="accent">OUTPUT</mat-chip-row>
                                            <div fNodeOutput class="action_connectors_output"  [fOutputId]="getParamConnectorId(block, param , ConnectorDir.OUTPUT)" ></div>
                                        </div>
                                    </ng-container>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="paramType">
                                <th mat-header-cell *matHeaderCellDef>Type</th>
                                <td mat-cell *matCellDef="let param"> {{ param.paramType }} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="[ 'paramDirection','paramName', 'paramType']"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['paramDirection','paramName', 'paramType',];"></tr>
                        </table>
                    }
                    @case(BlockType.INPUT_DATA){
                        <mat-label  >{{ block.name }}</mat-label>
                        <table  *ngIf="isDataBlockShown(block)" mat-table [dataSource]="getDataBlockDataSource(block)!" class="mat-elevation-z8">
                            <ng-container matColumnDef="fieldName">
                                <th mat-header-cell *matHeaderCellDef>Name</th>
                                <td mat-cell *matCellDef="let field" >
                                    <mat-label class="connectors_layout">
                                        <div fNodeInput [fInputId]="getDataConnectorId(block, field, ConnectorDir.INPUT)"  ></div> {{ field.fieldName }}
                                    </mat-label>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="fieldType">
                                <th mat-header-cell *matHeaderCellDef>Type</th>
                                <td  mat-cell *matCellDef="let field">
                                    <mat-label class="connectors_layout">{{ field.fieldType }}
                                        <div fNodeOutput  [fOutputId]="getDataConnectorId(block,field,ConnectorDir.OUTPUT)" ></div>
                                    </mat-label>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="['fieldName', 'fieldType']"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['fieldName', 'fieldType'];"></tr>
                        </table>
                    }
                    @case (BlockType.OUTPUT_DATA){
                        <mat-label>{{ block.name }}</mat-label>
                        <table *ngIf="isDataBlockShown(block)" mat-table [dataSource]="getDataBlockDataSource(block)!" class="mat-elevation-z8">
                            <ng-container matColumnDef="fieldName">
                                <th mat-header-cell *matHeaderCellDef>Name</th>
                                <td mat-cell *matCellDef="let field">
                                    <mat-label class="connectors_layout">
                                        <div fNodeInput [fInputId]="getDataConnectorId(block,field,ConnectorDir.INPUT)"  ></div> {{ field.fieldName }}
                                    </mat-label>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="fieldType">
                                <th mat-header-cell *matHeaderCellDef>Type</th>
                                <td mat-cell *matCellDef="let field">
                                    <mat-label class="connectors_layout">{{ field.fieldType }}
                                        <div fNodeOutput  [fOutputId]="getDataConnectorId(block,field,ConnectorDir.OUTPUT)" ></div>
                                    </mat-label>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="['fieldName', 'fieldType']"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['fieldName', 'fieldType'];"></tr>
                        </table>
                    }
                    @default {
                        <mat-label>ERROR  {{ block.name }}</mat-label>
                    }
                }
            </div>
        }
    </f-canvas>
    <f-background>
        <f-rect-pattern></f-rect-pattern>
    </f-background>
</f-flow>
<div class="examples-toolbar">
    <button mat-raised-button [disabled]="!(selectedItems.blockIds.length > 0 || selectedItems.connectionsIds.length > 0)" class="f-button" color="accent" (click)="onDelete()">Delete Selected </button>
    <button mat-raised-button class="f-button" (click)="onZoomIn()" color="primary">Zoom In</button>
    <button mat-raised-button class="f-button" (click)="onZoomOut()" color="primary">Zoom Out</button>
</div>
