@use "../../../app.component" as app;

:host{
  width: 100%;
  height: 100%;
}

@include app.examples-toolbar;
@include app.connector;
@include app.connection-marker;

.connectors_layout{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.action_connectors_layout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.examples-toolbar{
  top: 7%;
  right:2%;
}


.f-flow {
  @include app.connection;
  .f-connection {
    .f-connection-selection {
      stroke-width: 20;
    }
    &:hover {
      stroke: var(--minimap-view-color);
    }
  }
  .f-background {
    line {
      stroke: var(--background-element-color);
    }
    circle {
      fill: var(--background-element-color);
    }
  }
}

.connection-marker{
    @include app.connection;
    @include app.connection-marker;
    @include app.connector;
    @include app.minimap;
    &.f-selected {
      border: 1px solid var(--node-selected-border-color);
    }
}

.f-node-output {
  right: -5%;
}
.f-node-input {
  right: 95%;
}

.f-node {
  @include app.node;
  @include app.connection-marker;
  @include app.connection;
  @include app.minimap;
  width: auto;
  padding: 1px;
  &.f-selected {
    border: 1px solid var(--node-selected-border-color);
  }
}
connection-markers {
  @include app.connection;
  @include app.connection-marker;
}

