<nav class="navbar flx_row">
    <div class="navbar-logo flx_row" (click)="router.navigate([appPaths.ROOT])">
        <img src="assets/logo.png" alt="My App Logo" />
    </div>
    <ul class="navbar-links flx_row">
        <li style="list-style-type: none">
            <app-cta [msg]="'Features'" (clicked)="router.navigate([appPaths.FEATURES])"></app-cta>
        </li>
        <li style="list-style-type: none">
            <app-cta [msg]="'Docs'" (clicked)="router.navigate([appPaths.DOCS])"></app-cta>
        </li>
        <li style="list-style-type: none">
            <app-cta [msg]="'About us'" (clicked)="router.navigate([appPaths.ABOUT])"></app-cta>
        </li>
    </ul>
    <div class="navbar-actions flx_row">
        <app-cta [msg]="'Join us'" [isOutline]="true" (clicked)="router.navigate([appPaths.LOGIN])"></app-cta>
    </div>
</nav>