<app-action-config-canvas-table-header [viewModel]="viewModel" fDragHandle></app-action-config-canvas-table-header>
<div class="body">
    @for (column of viewModel.columns; track column.id) {
        <app-action-config-canvas-table-column
                [column]="viewModel.columns[$index]"
                [tableId]="viewModel.id" [formGroup]="getColumnForm(column.id)">
            <mat-form-field class="db-management-control">
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field class="db-management-control">
                <mat-select formControlName="type" panelClass="db-management-control">
                    @for (type of columnTypes; track type) {
                        <mat-option [value]="type">{{ type }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </app-action-config-canvas-table-column>
    }
</div>



