
:root {
    --bg-color:#edf7f6;
    --text-color:#020303;
    --primary-color:#4bafa3;
    --secondary-color:#2d2960;
    --accent-color:#5a3a88;
}

html, body{
    margin: 0;
    height: 100%;
    font-family: 'QuickSand';
}


.flx_row{
    display: flex;
    flex-direction: row;
}
.flx_column{
    display: flex;
    flex-direction: column;
}