
:root {
    --bg-color:#020303;
    --text-color:#edf7f6;
    --primary-color:#4bafa3;
    --secondary-color:#2d2960;
    --accent-color:#5a3a88;
    
}

html, body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'QuickSand';
}
i {
    color: var(--text-color);
}

.flx_row{
    display: flex;
    flex-direction: row;
}
.flx_column{
    display: flex;
    flex-direction: column;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
