
<div style="margin-top: 10%; display: flex;justify-content: center;">
    <div style="display: flex; width: 80%;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
            <!-- idProject Column -->
            <ng-container matColumnDef="idProject">
              <th mat-header-cell *matHeaderCellDef>Id Project</th>
              <td mat-cell *matCellDef="let element">{{element.idProject}}</td>
            </ng-container>
          
            <!-- projectName Column -->
            <ng-container matColumnDef="projectName">
              <th mat-header-cell *matHeaderCellDef>Project Name</th>
              <td mat-cell *matCellDef="let element">{{element.projectName}}</td>
            </ng-container>
          
            <!-- Last Update Column -->
            <ng-container matColumnDef="lastUpdate">
              <th mat-header-cell *matHeaderCellDef>Last Update</th>
              <td mat-cell *matCellDef="let element">{{element.lastUpdate | date:'mediumDate'}}</td>
            </ng-container>
          
            <!-- Creation Date Column -->
            <ng-container matColumnDef="creationDate">
              <th mat-header-cell *matHeaderCellDef>Creation Date</th>
              <td mat-cell *matCellDef="let element">{{element.creationDate |date:'mediumDate'}}</td>
            </ng-container>
          

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">
                <app-cta [isOutline]='true' (clicked)="onClick(element)" [msg]="'EDIT'"></app-cta>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
        </table>
    </div>  
    
</div>
